.news-block {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 860px) {
        flex-direction: column;
    }

    &__group {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 46%;
        padding: 20px 0;

        @media (max-width: 860px) {
            width: 100%;
        }
    }

}