@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');
.news-main-block {
    width: 558px;
    height: 458px;
    border-radius: 5px;
    padding: 34px 52px 54px 34px;
    background-color: lightgrey;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    line-height: 1.5;

    &_title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;

        h4 {
            font-size: 20px;
            font-family: inherit;
            font-weight: 500;
            width: 68%;
            padding: 5px 5px;
        }

        p {
            align-self: self-end;
            font-size: 13px;
            font-weight: 100;
            font-style: italic;
        }
    }

    &_text {
        font-size: 15px;
        font-weight: 500;
    }

}



