.carouselList {
    max-width: 1512px;
    overflow: hidden;
    margin: 0 20px;
    display: grid;
    grid-template-columns: repeat(7, auto);
    justify-content: center;
    align-items: end;
    gap: 46px;
}